body{
    color: #f4f4f4;
}


.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #292929;
    text-align: center;
}

.footer::before {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 50px;
    background: url(./images/hachures-noires.png);
    bottom: 100%;
}